			<Event duration="60000"  presentationTime="0" id="1">
				<scte35:Signal> 
					<scte35:Binary>
						/QWR2ZXJ0IEJyZWFr
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="537600"  presentationTime="60000" id="2">
				<scte35:Signal> 
					<scte35:Binary>
						/TWFpbiBDb250ZW50
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="60000"  presentationTime="597600" id="3">
				<scte35:Signal> 
					<scte35:Binary>
						/QWR2ZXJ0IEJyZWFr
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="537600"  presentationTime="657600" id="4">
				<scte35:Signal> 
					<scte35:Binary>
						/TWFpbiBDb250ZW50
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="60000"  presentationTime="1195200" id="5">
				<scte35:Signal> 
					<scte35:Binary>
						/QWR2ZXJ0IEJyZWFr
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="537600"  presentationTime="1255200" id="6">
				<scte35:Signal> 
					<scte35:Binary>
						/TWFpbiBDb250ZW50
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="60000"  presentationTime="1792800" id="7">
				<scte35:Signal> 
					<scte35:Binary>
						/QWR2ZXJ0IEJyZWFr
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="537600"  presentationTime="1852800" id="8">
				<scte35:Signal> 
					<scte35:Binary>
						/TWFpbiBDb250ZW50
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="60000"  presentationTime="2390400" id="9">
				<scte35:Signal> 
					<scte35:Binary>
						/QWR2ZXJ0IEJyZWFr
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="537600"  presentationTime="2450400" id="10">
				<scte35:Signal> 
					<scte35:Binary>
						/TWFpbiBDb250ZW50
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="60000"  presentationTime="2988000" id="11">
				<scte35:Signal> 
					<scte35:Binary>
						/QWR2ZXJ0IEJyZWFr
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>
			<Event duration="537600"  presentationTime="3048000" id="12">
				<scte35:Signal> 
					<scte35:Binary>
						/TWFpbiBDb250ZW50
					</scte35:Binary> 
				</scte35:Signal> 
			</Event>