<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta 	http-equiv="Content-Type" content="application/vnd.hbbtv.xml+xhtml; utf-8" />

		<script type="text/javascript" src="http://cdn.dashjs.org/latest/dash.all.debug.js"></script>
        <script src="/socket.io/socket.io.js" charset="utf-8"></script> <!-- needed for sockets io to be able to detect the client -->

        <script type="text/javascript" src="common/utils.js"></script>		
        <script type="text/javascript" src="js/eme.js"></script>
        <script type="text/javascript" src="js/lic.js"></script>
        <script type="text/javascript" src="js/mvid.js"></script>
        <script type="text/javascript" src="js/playlist.js"></script>
 		
        <link 	rel="stylesheet" href="css/mvid.css" />
		<link 	href="https://fonts.googleapis.com/css?family=VT323" rel='stylesheet' type='text/css'/>
		<link 	href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel='stylesheet' type='text/css'/>
	</head>

	<body>
		<div id="player-container" class="video">
			<video id="mVid-mainContent" poster="bitmaps/bground.jpg" display="none">
				<source id="mVid-mainContent-source" src="" type="" preload="auto" loop="false"></source> 
			</video>
		</div>
		<div class="safe_area" id="app_area">
			<div class="status-container">
				<p id="currentChannel">---</p>
			</div>
			<div class="progress-bar-container">
				<p>Main Buffer:</p> 
				<progress value="0" max="100" id="mVid-mainContent-bufferBar" 	class="bufferBar" 		role="progressbar">
				</progress>
				<progress value="0" max="100" id="mVid-mainContent-headroomBar" 	class="bufferBar" 	role="progressbar">
				</progress>
				<p>Video 0 Buffer:</p> 
				<progress value="0" max="100" id="mVid-video0-bufferBar" 		class="bufferBarActive" role="progressbar">
				</progress>
				<progress value="0" max="100" id="mVid-video0-headroomBar" 		class="bufferBarActive" role="progressbar">
				</progress>
				<p>Video 1 Buffer:</p> 
				<progress value="0" max="100" id="mVid-video1-bufferBar" 		class="bufferBar" 		role="progressbar">
				</progress>
				<progress value="0" max="100" id="mVid-video1-headroomBar" 		class="bufferBar" 		role="progressbar">
				</progress>
			</div>
			<div class="videoGFXOverlay">
				<div class="centre fitwidth">
					<img src="bitmaps/buffering2.png" 	id="player-buffering" 	class="playerBufferingIcon"></img>				
				</div>
			</div>
			<div class="videoControls">
				<div>
					<img src="bitmaps/arrow.png" 		id="ad-start-point" 	class="ad-arrow"></img>				
					<img src="bitmaps/arrow.png" 		id="ad-resume-point" 	class="ad-arrow"></img>				
				</div>
				<p style="height:20px"></p>
				<div>
					<progress value="0" max="100" id="playbackBar" class="playbackBar" role="progressbar"></progress>
					<img src="bitmaps/heart.png" 		id="heart" 				class="beat"></img>				
					<!--p id="videoTimer" style="font-family: 'VT323'">00:00:00:000</p-->
				</div>
				<p style="height:10px"></p>
				<div class="centre fitwidth">
					<img src="bitmaps/player_rew2.png" 		id="player-rew" 	class="playerIcon"></img>				
					<img src="bitmaps/player_play2.png" 	id="player-play" 	class="playerIcon"></img>				
					<img src="bitmaps/player_fwd2.png" 		id="player-fwd" 	class="playerIcon"></img>				
					<img src="bitmaps/player_pause2.png" 	id="player-pause" 	class="playerIcon"></img>				
					<img src="bitmaps/player_stop2.png" 	id="player-stop" 	class="playerIcon"></img>				
					<img src="bitmaps/key.png" 				id="encrypted" 		class="playerIcon"></img>				
					<img src="bitmaps/flag.png" 			id="flag" 			class="playerIcon"></img>				
				</div>
			</div>
		</div>
    </body>
</html>