.status-container {
	width: fit-content; 
	height: fit-content; 
	top: 20px;
	left: 0px;
	background-color: orange;
	color: white;
	position: absolute;
	opacity: 0.75;
	font-size: 150%;
}

.bufferBarActive {
	color: orange;
	opacity: 0.75;
}

.playbackBar::-webkit-progress-value {
	background-color: orange;
}

.bufferBarActive::-webkit-progress-value {
	background-color: orange;
}

.bufferBarActive::-moz-progress-bar {
	background-color: orange;
}

.hilite {
	background-color: orange;
}

.subson {
	background-color: orange;
}
