* {
    padding: 0;
    margin: 0;
}

body
{
	/* we explicitly set the size of the body element. This avoids that browser show scroll bars or that pages are floating if they are
	bigger than the logical screen size */
	width: 1280px;
	height: 720px;
	overflow: hidden;
	background-color: black;
	font-family: 'Share Tech Mono';
}

a
{
	/* According to the OIPF DAE specification this shall prevent that a browser draws there default highlighting */
	outline-style: none;
	text-decoration: none;
}

div.safe_area 
{
	position: absolute;
	/* Border of the safe area: 10% 5% 80% 90 */ 
	left: 64px; top: 36px; width: 1024px; height: 648px;
}

.video {
	width: 1280px;
	height: 720px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: black;
}

.video video {
	width: 1280px;
	height: 720px;
	top: 0;
	left: 0;
	display: none;
}

p {
	color: white;
}

#videoTimer {
	text-align: center;
	display: block;
	position: absolute;
	bottom: 16px;
	right: 0px;
	color: green;
}

.progress-bar-container {
	width: 100px;
	height: 50px;
	top: 200px;
	left: 10px;
	background-color: green;
	color: white;
	position: absolute;
}

progress {
	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* gets rid of default border in Firefox and Opera. */
	border: none;

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;
   
	width: 300px;
    border-radius: 1px;
}

.bufferBar {
	color: green;
}

.bufferBarActive {
	color: yellow;
}

.bufferBarConsumed {
	color: grey;
}

.playbackBar {
	color: red;
	width: 1080px;
	height: 30px;
	
	left: 50px;
	position: absolute;
}

progress::-webkit-progress-value {
	background-color: green;
}

.playbackBar::-webkit-progress-value {
	background-color: yellow;
}

.bufferBarActive::-webkit-progress-value {
	background-color: yellow;
}

.bufferBarConsumed::-webkit-progress-value {
	background-color: grey;
}

progress::-moz-progress-bar {
	background-color: green;
}

.playbackBar::-moz-progress-bar {
	background-color: red;
}

.bufferBarActive::-moz-progress-bar {
	background-color: yellow;
}

.bufferBarConsumed::-moz-progress-bar {
	background-color: grey;
}

.videoGFXOverlay {
	width: 1280px;
	height: 720px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: transparent;
	color: green;
}

.videoControls {
	width: 1180px;
	height: 100px;
/*	top: 600px;*/
	bottom: 0;
	left: 50px;
	position: absolute;
	background-color: red;
	margin: auto;
}

#heart {
	background-color: transparent;
	position: absolute;
	width: 32px;
	height: 32px;
    position: absolute;
	top: 10px;
    right: 0px;
	display: block;
}

.playerIcon {
	width: 32px;
	height: 32px;
	background-color: purple;
	bottom : 0px;
	position: relative;
/*	left: 0px; */
/*	top: 15px; */
/*	display: none; */
}

.playerBufferingIcon {
    max-height: 64px;  
    max-width: 64px;  
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
	display: none; 
	margin: auto;
}

/* Rotating */
.rotate { 
	display: block;

    -moz-animation: 	spin 4s infinite linear;
    -o-animation: 		spin 4s infinite linear;
    -webkit-animation: 	spin 4s infinite linear;
    animation: 			spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}

@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}

@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

/* Beat */
.beat { 
    -moz-animation: 	beat 2s infinite linear;
    -o-animation: 		beat 2s infinite linear;
    -webkit-animation: 	beat 2s infinite linear;
    animation: 			beat 2s infinite linear;
}

@-webkit-keyframes beat {
  0%   	{ opacity: 0; }
  50% 	{ opacity: 1; }
  100% 	{ opacity: 0; }
}

@-moz-keyframes beat {
  0%   	{ opacity: 0; }
  50% 	{ opacity: 1; }
  100% 	{ opacity: 0; }
}

@-o-keyframes beat {
  0%   	{ opacity: 0; }
  50% 	{ opacity: 1; }
  100% 	{ opacity: 0; }
}

@-ms-keyframes beat {
  0%   	{ opacity: 0; }
  50% 	{ opacity: 1; }
  100% 	{ opacity: 0; }
}

@keyframes beat {
  0%   	{ opacity: 0; }
  50% 	{ opacity: 1; }
  100% 	{ opacity: 0; }
}
