* {
    padding: 0;
    margin: 0;
}

body
{
	/* we explicitly set the size of the body element. This avoids that browser show scroll bars or that pages are floating if they are
	bigger than the logical screen size */
	width: 1280px;
	height: 720px;
	overflow: hidden;
	background-color: white;
}

a
{
	/* According to the OIPF DAE specification this shall prevent that a browser draws there default highlighting */
	outline-style: none;
	text-decoration: none;
}

.status-table-container {
	width: 300px;
	height: 720px;
	top: 0;
	left: 850px;
	background-color: white;
	color: black;
	position: absolute;
}

.status-table-container table {
	width: inherit;
	border: none;
	margin: 1ex auto auto;
}

.status-table-container caption {
	background-color: blue;
	color: white;
}

#status-table-body0 td {
	text-align: left;
	width: 6ex;
}

#status-table-body1 td {
	text-align: left;
	width: 6ex;
}

#status-table-body2 td {
	text-align: left;
	width: 6ex;
}

p {
	color: white;
}

.log {
	height: 200px;
	width: 800px;
	left: 10px;
	top: 50px;
	position: absolute;
}

.log p{
	max-width: 800px;
	word-wrap: break-word;
	font-size: small;
}

.debug {
	color: black;
}

.info {
	color: green;
}

.warn {
	color: blue;
}

.error {
	color: red;
}

.progress-bar-container {
	width: 500px;
	height: 50px;
	top: 380px;
	left: 850px;
	background-color: white;
	color: black;
	position: absolute;
}

.progress-bar-container p {
	color: black;
}

progress {
	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* gets rid of default border in Firefox and Opera. */
	border: none;

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;
   
	width: 300px;
    border-radius: 1px;
}

.bufferBar {
	color: green;
}

.bufferBarActive {
	color: yellow;
}

.bufferBarConsumed {
	color: grey;
}

.playbackBar {
	color: red;
	width: 800px;
}

progress::-webkit-progress-value {
	background-color: green;
}

.playbackBar::-webkit-progress-value {
	background-color: yellow;
}

.bufferBarActive::-webkit-progress-value {
	background-color: yellow;
}

.bufferBarConsumed::-webkit-progress-value {
	background-color: grey;
}

progress::-moz-progress-bar {
	background-color: green;
}

.playbackBar::-moz-progress-bar {
	background-color: red;
}

.bufferBarActive::-moz-progress-bar {
	background-color: yellow;
}

.bufferBarConsumed::-moz-progress-bar {
	background-color: grey;
}

.videoGFXOverlay {
	width: 800px;
	height: 480px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: transparent;
	color: green;
}

.videoControls {
	width: 800px;
	height: 64px;
	top: 480px;
	position: absolute;
	background-color: transparent;
	margin: auto;
	display: block;
}

.playerIcon {
	width: 32px;
	height: 32px;
	background-color: transparent;
	position: absolute;
	left: 0px;
	top: 15px;
	display: none;
}
