body
{
	font-family: "Verdana";
	background-color: #00000f;
	overflow: hidden;
}

.titlebar {
	position: absolute;
	width: 100%;
	height: 64px;
	top: 0px;
	padding: 4px;
}

.titlelogo {
	position: absolute;
	top: 10px;
}

.titletext {
	color: white;
	font-size: 24px;
	position: absolute;
	top: 0px;
	left: 64px;
}

.titleitems {
	position: absolute;
	left: 200px;
	top: -10px;
}

.titleitem {
	/*width: 100px; */
    list-style-type: none;
	color: white;
	font-family: "Verdana";
	font-size: 14px;
	/* background-color: #d65900; */
	/* background-color: #1e1e1d; */
	text-align: center;
	float: left;
	display: block;
	padding: 8px;
	padding-right: 12px;
}

.titleitem:hover { 
    background-color: orange;
}

#status {
	position: absolute;
	width: fit-content; 
	height: fit-content; 
    right: 0px;
	padding-right: 60px;
	padding-top: 10px;
}

#status p {
	color: white;
	font-size: 12px;
	float: left;
	margin: 10px;
}

.connected {
	background-color: green;
}

#mainarea {
	position: absolute;
	background: white;
	width: 98%;
	height: 98%;
	top: 72px;
	margin: 4px;
	padding: 8px;
}

.status-table-container {
	position: absolute;
	color: black;
	padding: 4px;
	width: 220px;
}

.status-table-container table {
}

.tablecaption {
	background-color: blue;
	height: 48px;
	width: 220px;
	display: inline-block;
}

.status-table-container p {
	text-align: center;
	color: white;
    vertical-align: middle;
}

.status-table-body td {
	text-align: left;
	font-size: 12px;
	padding: 4px;
	width: 100px;
}

.log {
	width: 700px;
	top: 8px;
	position: absolute;
	left: 280px;
}

#log {
	border-color: #bababa;
	border-style: solid;
	overflow: auto;
	height: 480px;
}

.log p{
	max-width: 800px;
	word-wrap: break-word;
	font-size: small;
}

.debug {
	color: black;
}

.info {
	color: green;
}

.warn {
	color: blue;
}

.error {
	color: red;
}

.buffercontainer {
	padding: 8px;
}

#progress-bar-container {
	width: 500px;
	height: 50px;
	top: 8px;
	left: 1000px;
	position: absolute;
}

.buffertitle {
	color: white;
	background-color: orange;
	height: 48px;
	text-align: center;
    display: table-cell;
    vertical-align: middle;
	width: 300px;
}

.buffertext {
	text-align: left;
	font-size: 12px;
	color: blue;
	height: 10px;
}

progress {
	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* gets rid of default border in Firefox and Opera. */
	border: none;

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;
   
	width: 300px;
	height: 24px;
	
    border-radius: 1px;	
}

#playbackcontainer {
	position: absolute;
	top: 560px;
	left: 280px;
	width: 700px;
	background-color: green;
}

.bufferBar {
	color: green;
}

.bufferBarActive {
	color: yellow;
}

.bufferBarConsumed {
	color: grey;
}

.playbackBar {
	color: red;
	width: 700px;
}

progress::-webkit-progress-value {
	background-color: green;
}

.playbackBar::-webkit-progress-value {
	background-color: yellow;
}

.bufferBarActive::-webkit-progress-value {
	background-color: yellow;
}

.bufferBarConsumed::-webkit-progress-value {
	background-color: grey;
}

progress::-moz-progress-bar {
	background-color: green;
}

.playbackBar::-moz-progress-bar {
	background-color: red;
}

.bufferBarActive::-moz-progress-bar {
	background-color: yellow;
}

.bufferBarConsumed::-moz-progress-bar {
	background-color: grey;
}
